:root {
  --color-iris: rgba(77, 90, 229, 1);
  --color-ocean: rgba(64, 75, 191, 1);
  --color-navy-blue: rgba(46, 47, 66, 1);
  --color-green: rgba(49, 208, 170, 1);
  --color-slate: rgba(67, 68, 85, 1);
  --color-light-slate: rgba(142, 143, 153, 1);
  --color-cornflower: rgba(231, 233, 252, 1);
  --color-cloud: rgba(244, 244, 253, 1);
  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgba(46, 47, 66, 0.7);
  --color-white: rgba(255, 255, 255, 1);
  --color-dairy: rgba(252, 252, 252, 1);
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-slate);
  background-color: var(--color-white);
}
.link {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--color-navy-blue);
}

.section-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.section-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**
  |============================
  | Header styles
  |============================
*/
.header {
}

.header-nav {
}
.list {
  list-style: none;
}
.header-nav-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}

.logo-navy-blue {
  color: rgba(46, 47, 66, 1);
}

.header-nav-list {
}
.header-nav-item {
}
.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
}
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--color-ocean);
}

.header-contacts {
  font-style: normal;
}
.header-contacts-list {
  list-style: none;
}
.header-contacts-item {
}
.header-contacts-item {
}

.header-contacts-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--color-ocean);
}

/**
  |============================
  | Hero styles
  |============================
*/
.hero {
  background-color: var(--color-navy-blue);
}
.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--color-white);
}
.hero-btn {
  font-family: inherit;
  background: var(--color-iris);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--color-ocean);
}

/**
  |============================
  | Features styles
  |============================
*/
.features {
}

.features-list {
}
.features-item {
}

.features-subtitle {
}
/**
  |============================
  | Functional styls
  |============================
*/
.functional {
}

.functional-list {
}
.functional-item {
}
.functional-img {
}

/**
  |============================
  | Team styles
  |============================
*/

.team {
  background-color: var(--color-cloud);
}

.team-list {
}
.team-item {
  background-color: var(--color-white);
}
.team-img {
}

/**
  |============================
  | Footer styles
  |============================
*/
.footer {
  background-color: var(--color-navy-blue);
}
.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-iris);
}
.logo-cloud {
  color: var(--color-cloud);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-cloud);
}

/**
  |============================
  | Portfolio styles
  |============================
*/

.portfolio {
}
.portfolio-filters-list {
}
.portfolio-filters-item {
}
.portfolio-filters-btn {
  font-family: inherit;
  width: 116px;
  height: 48px;
  background: var(--color-cloud);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-iris);
  cursor: pointer;
}
.portfolio-filters-btn:hover,
.portfolio-filters-btn:focus {
  background-color: var(--color-ocean);
  color: var(--color-white);
}
.portfolio-projects-list {
}
.portfolio-projects-item {
}
.portfolio-projects-img {
}
.section-subtitle {
}
.section-text {
}
